.form-control {
  margin: 0.2em 0em;
}

.card-header {
  font-size: 1.75rem;
}
/* .mb-3 input:checked ~ .checkmark {
  background-color: #FC5200;
}

.mb-3:checked ~ .checkmark {
  background-color: #FC5200;
} */